<div class="menu-top">
  <h1>All Creations</h1>
</div>
<p class="dropdown_sentence">
  <span id="banner-typed-text"></span>
</p>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-6 col-md-4 col-lg-3 mx-0">
        <%= link_to (cocktail) do %>
          <div class="card-category my-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(cocktail.photo.key) %>)">
          <%= cocktail.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= button_to "Create a new cocktail", new_cocktail_path(@cocktails),
  class: "btn-flat", :method => :get %>
</div>


