<h1 class="menu-top">Add a creation to the menu</h1>

<div class="container">
    <%= simple_form_for(@cocktail)  do |f| %>
    <div >
    <%= f.input :name %>
    <%= f.input :photo, as: :file, label: "Add a picture for your cocktail!" %>
    <%= f.submit"Submit Cocktail", class: "btn-flat w-100"%>
    </div>
  <% end %>
</div>

