// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";




$orange: #ea907a;



body {
  background: #white;
  font-family: 'Quicksand', sans-serif;
}

.btn {
  padding: $spacer ($spacer * 3);
}


h1{
  font-family: 'Cabin Condensed', sans-serif;
}

h2{
  font-family: 'Cabin Condensed', sans-serif;
}

a {
  color: #4f8a8b;

  &:hover {
    color: #ea907a;
  }
}

.align{
  text-align: center;
}

ul{
  padding: 0;
  list-style-type: none;
}


.width {
  text-align: center;
}

.secondary-color {
  color: #ea907a;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 25px;
}


